/* Chromeのダークモード時に現在表示中のタイトルが分かりにくい事の対策 */
a.focus {
  background-color: royalblue;
}

/* Chromeのダークモード対策 */
p a img {
  background-color: gray;
}

/* 右側の目次の表示領域を拡大する */
/* 下のと同じ要素を示している */
/* .p-items_toc > div > div, */
div.style-1mcjrf9 {
  max-height: 96vh;
}

/* リンクがホバーされるまで下線が引かれずわかりにくい事への対策 */
div.mdContent-inner a {
  text-decoration: underline;
}

/* h1~6へのホバー時にポインターになるのを防ぐ */
:is(h1, h2, h3, h4, h5, h6):has(a) {
  cursor: text;
}
